{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_header %}
{% endblock %}

{% block page_content %}
<!-- Login, Register tabbed interface from http://bootsnipp.com/snippets/featured/login-and-register-tabbed-form -->
<div class="container">
   	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
				<div class="col-lg-12 page-header">
					<h2>{{ heading }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					{% block form_content %}
					{{ wtf.quick_form(form) }}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}